<nav class="navbar navbar-expand-lg navbar-light bg-light bg-custom-2">
    <a class="navbar-brand text-white" href="#"><b>Financeiro</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-white" id="navbarNavDropdown">
      <ul class="navbar-nav text-white">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#">Dashboard <span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/MinhaCarteira">Minha Carteira</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Relatórios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Ação</a>
            <a class="dropdown-item" href="#">Outra ação</a>
            <a class="dropdown-item" href="#">Algo mais aqui</a>
          </div>
        </li>
      </ul>
    </div>
</nav>

<section>
  <div class="container my-4">
   
    <router-outlet></router-outlet>  
  </div>
</section>